<h1><center>My Wishlist!</center></h1>
<p><%= button_to "Add Book", "/wishlist/new", method: :get %></p>
<% @book.each do |wishlisted_book| %>
    <% if wishlisted_book.wishlisted == true%>
        <%= wishlisted_book.title %>
        <%= wishlisted_book.author %>
    <% end%>
<% end %>