<h1><center>My Wishlist!</center></h1>
<p><%= button_to "Add Book", "/wishlist/new", method: :get %></p>
<% @book.each do |wishlisted_book| %>
    <% if wishlisted_book.wishlisted == true%>
        <p>Title: <%= wishlisted_book.title %>
        Author: <%= wishlisted_book.author %></p>
    <% end%>
<% end %>